* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

header nav ul.menu li {
  padding-right: 15px;
}

div.advantages div {
  width: 310px;
}

legend {
  color: #5dcfae;
  font-weight: bold;
  font-size: 1.2rem;
}
button.feedback-button-send {
  color: #5dcfae;
  font-size: 1rem;
  font-weight: bold;
}
button.feedback-button-send:hover {
  color: white;
  background-color: #5dcfae;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
footer ul li {
  color: white;
}

.header {
  position: fixed;
  height: 70px;
  width: 100%;
  padding: 15px;
  background: white;
  top: 0;
  z-index: 1;
}
.menu {
  list-style: none;
}

.to-book-block {
  height: 400px;
  width: 100%;
  margin-top: 70px;
  padding: 70px 0px;
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
  background-image: url(../images/banner.png);
}
.book-block-text {
  font-size: 2.2rem;
  font-weight: bold;
  color: white;
}
.book-block-text-smaller {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}
.book-button {
  color: white;
  font-weight: bold;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  outline: none;
  border: 1px solid white;
  background-color: transparent;
}
.book-button:hover {
  background-color: #ffb52d;
  border-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.advantages {
  margin: 30px 0px;
}

.about {
  background-color: #f7f7f7;
}
.about-inner {
  padding: 50px 0px;
}

.place-to-relax {
  margin: 50px 0px;
}

.feedback {
  background-color: #f7f7f7;
}
.feedback-inner {
  padding: 50px 0px;
}
.fieldset {
  border-color: #5dcfae;
}
.feedback-options-margin {
  margin: 10px 8px;
}
.feedback-button-send {
  height: 35px;
  width: 150px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #5dcfae;
}

.footer {
  background-color: #303846;
  padding: 80px 0px;
}
.footer-head-list {
  font-size: 1.3rem;
  color: white;
}

.flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.organization-name {
  margin-left: 15px;
}
.organization-name-footer {
  margin-left: 15px;
  color: white;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.bold-text {
  font-weight: bold;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-60 {
  margin-top: 60px;
}
.heading-without-margin-top {
  margin: 0px 0px 0.83em;
}
.w-1000 {
  width: 1000px;
}
.w-310 {
  width: 310px;
}
.w-354 {
  width: 354px;
}
.h50 {
  height: 50px;
}
.h100 {
  height: 150px;
}

.options-apartment-drop-list {
  border-radius: 30px;
  width: 110px;
  height: 30px;
  outline: none;
}
.contact-information-text-field {
  border-radius: 30px;
  width: 130px;
  height: 25px;
  outline: none;
  border: 1px solid #a9a9a9;
}
