html{
    height: 100%;
}

body {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
header {
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: 70px;
    width: 100%;
    padding: 15px;
    background: white;
    z-index: 1;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.d-flex {
    display: flex;
  }
.menu {
    padding: 30px;
    flex-direction: row;
}
.organization-name {
    font-weight: bold;
    margin-left: 15px;
}
.nav-item {
    padding: 15px 15px;
}
.center-items {
    align-items: center;
}

.fd-column {
    flex-direction: column;
}