* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

header nav ul.menu li {
  padding-right: 15px;
}

fieldset.feedback-fieldset legend {
  font-size: 1.2rem;
}

button.feedback-button-send:hover {
  color: white;
  border-color: #5dcfae;
  background-color: #5dcfae;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
footer ul li {
  color: white;
}

ul.menu a {
  text-decoration: none;
  color: #000;
}
h2.heading-without-margin-top {
  font-size: 1.8rem;
}

.options-apartment-drop-list,
.border {
  border-radius: 10px;
}

.header {
  position: fixed;
  height: 70px;
  padding: 15px;
  background: white;
  top: 0;
}
.menu {
  list-style: none;
}

.to-book-block {
  height: 400px;
  margin-top: 70px;
  background-position: 30% 70%;
  background-repeat: no-repeat;
  background-image: url(../images/banner.png);
}
.book-block-text-size {
  font-size: 3rem;
}
.book-block-smaller-text-size {
  font-size: 1.2rem;
}
.book-button {
  height: 40px;
  padding: 10px 10px;
  text-align: center;
  background-color: transparent;
}
.book-button:hover {
  background-color: #ffb52d;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.advantages {
  margin: 30px 0px;
}
.place-to-relax {
  margin: 50px 0px;
}

.feedback-fieldset {
  border-color: #5dcfae;
}
.feedback-options-margin {
  margin: 10px 8px;
}
.options-apartment-drop-list {
  width: 110px;
  height: 30px;
}
.contact-information-text-field {
  width: 130px;
  height: 25px;
}
.feedback-button-send {
  height: 35px;
  width: 150px;
  font-size: 1rem;
}
.footer {
  background-color: #303846;
  padding: 80px 0px;
}
.footer-head-list {
  font-size: 1.3rem;
}

.flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.bold-text {
  font-weight: bold;
}
.text-dec-none {
  text-decoration: none;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.heading-without-margin-top {
  margin: 0px 0px 0.83em;
}
.c-emerald {
  color: #5dcfae;
}
.c-white {
  color: white;
}
.c-grey {
  color: grey;
}
.back-color-light-grey {
  background-color: #f7f7f7;
}
.w-100per {
  width: 100%;
}
.w-1000 {
  width: 1000px;
}
.w-30per {
  width: 30%;
}
.w-50per {
  width: 50%;
}
.w-380 {
  width: 380px;
}
.h50 {
  height: 50px;
}
.h170 {
  height: 170px;
}
.padding-for-inner-block {
  padding: 50px 0px;
}
.margin-from-logo {
  margin-left: 15px;
}
.border {
  border: 1px solid;
}
